# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# Environment variables
.env
.env.*
!.env.example

# AWS
.aws/

# Terraform
infrastructure/terraform/**/.terraform/
infrastructure/terraform/**/*.tfstate
infrastructure/terraform/**/*.tfstate.*
infrastructure/terraform/**/*.tfplan
infrastructure/terraform/**/.terraform.lock.hcl

# Data

*.csv
*.parquet
*.pkl
*.joblib
!configs/*.yaml

# Models
models/
*.pt

## ignore notes
commands.txt
./commands.md

## terraform ignore
*.terraform/
*.terraformstate
*.terraformstate.*
*.terraformplan
*.terraform.lock.hcl
*.terraform.tfvars
*.terraform.tfvars.json
*.tfvars
*.tfvars.json
