# yamllint disable-file
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "serving.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
  selector:
    {{- include "serving.selectorLabels" . | nindent 4 }}
